<div class="jumbotron">
  <div class="hero">
      <h3> Welcome, <%= @user.user.name %> </h3><br>
      <% unless @user.searches == [] %>
      <h6 class="lead">Here's a list of your saved searches...</h6>
      <% @user.searches.each do |search| %>
        <% search.festival_name %><br>
        <%= link_to "#{search.festival_name}", festival_path(search.festival_id) %><br>
      <% end %>
      <% else %>
        <h6 class="lead">You don't have any saved searches.</h6><br>
        <%= link_to 'Click here to search for festivals', root_path %>
      <% end %>
  </div>
</div>
