<div class="jumbotron">
  <div class="hero">
      <h3> Welcome, <%= @user.name %> </h3><br>
      <h6 class="lead">Here's a list of your saved searches...</h6>
      <% @searches.each do |search| %>
        <% search.festival_name %><br>
        <%= link_to "View details for #{search.festival_name}", festival_path(search.festival_id) %><br>
      <% end %>
  </div>
</div>
