<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="intial-scale-1.0, user-scalable=no">
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDygdQyB_nu98PLzLwE9or1yqXGSIcu6o8"></script>
    
      <style>
      html, body, #map {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      </style>
    </head>
    <body>
      <div id="map">

      </div>
  </body>
</html>
