/*Declare each .scss file below with @import 'file_name';*/

.navbar-right {
  padding: 5px;
}

html, body, #map {
  height: 80%;
  margin: 0px;
  padding: 25px;
}

.hero {
  padding: 30px;
}

.wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.flash_success {
  background-color: #a1d490;
}

.flash_danger {
  background-color: red;
}

.jumbotron {
background-image: image-url('old-white-background.jpg');
background-size: cover;}

body {
  background-image: image-url('old-white-background.jpg');
}
